{% extends 'base_client.html' %} 
{% block Title %} <title>Главная страница</title> {% endblock %}
{% block Body %} 
<div class="background">
    <div class="container">
        <div class="header">
            <div class="header_left">
                <div class="header_left_title">Creative agency</div>
                <div class="header_left_img">
                    <img src="/static/images/main.png" alt="">
                </div>
            </div>
            <div class="header_right">
                <div class="header_right_desc">Наше мастерство — вдохновлять и воплощать в жизнь смелые идеи. Мы создаём не просто бренды, а истории, которые олицетворяют вашу уникальность и страсть.</div>
                <a class="header_right_btn" href="#">Обсудить проект</a>
            </div>
        </div>
    </div>
</div>
<div class="advantages">
    <div class="container">
        <div class="title">Наше отличие</div>
        <div class="advantages_items">
            <div class="advantages_item" style="margin-right: 150px;">
                <div class="advantages_item_number">01</div>
                <div class="advantages_item_title">Индивидуальный подход</div>
                <div class="advantages_item_desc">Мы понимаем, что каждый бренд уникален. Мы тщательно анализируем вашу аудиторию, цели и ценности, чтобы создать бренд, который идеально соответствует вашей философии.</div>
                <hr class="line">
            </div>
            <div class="advantages_item">
                <div class="advantages_item_number">02</div>
                <div class="advantages_item_title">Профессиональная команда</div>
                <div class="advantages_item_desc">Наши специалисты обладают богатым опытом и творческим мышлением. Мы гордимся своими профессиональными навыками и постоянно совершенствуемся.</div>
                <hr class="line">
            </div>
            <div class="advantages_item" style="margin-right: 150px;">
                <div class="advantages_item_number">03</div>
                <div class="advantages_item_title">Эффективность и результат</div>
                <div class="advantages_item_desc">Наша цель - не просто сделать красивый дизайн, но и помочь вашему бренду достичь успеха. Мы измеряем и анализируем результаты, чтобы ваш бренд был сильным и востребованным.</div>
            </div>
            <div class="advantages_item">
                <div class="advantages_item_number">04</div>
                <div class="advantages_item_title">Любовь к творчеству</div>
                <div class="advantages_item_desc">Мы искренне любим то, что делаем, и это отражается в каждом проекте. Мы создаем бренды с страстью и вдохновением, добавляя в каждом щепотку любви.</div>
            </div>
        </div>
    </div>
</div>
<div class="services">
    <div class="container">
        <div class="title" style="margin-bottom: 50px;">Наши услуги</div>
        <div class="services_items">
            <div class="services_item">
                <div class="services_item_text">
                    <div class="services_item_text_title">БРЕНД С НУЛЯ</div>
                    <div class="services_item_text_desc">Мы начинаем с пустого холста, воплощая уникальные концепции. Наша цель - сделать ваш бренд неотразимым и незабываемым.</div>
                </div>
                <div class="services_item_img"><img src="/static/images/service1.png" alt=""></div>
                <div class="services_item_rect"></div>
            </div>
            <div class="services_item" style="margin-left: 30%">
                <div class="services_item_img_2"><img src="/static/images/service2.png" alt=""></div>
                <div class="services_item_text">
                    <div class="services_item_text_title">БРЕНДБУК</div>
                    <div class="services_item_text_desc">Мы разрабатываем брендбуки, которые усиливают вашу идентичность, помогая вам выделиться среди конкурентов и оставить неизгладимое впечатление.</div>
                </div>
                <div class="services_item_rect"></div>
            </div>
            <div class="services_item">
                <div class="services_item_text">
                    <div class="services_item_text_title">РЕБРЕНДИНГ</div>
                    <div class="services_item_text_desc">Мы предлагаем услугу ребрендинга, которая поможет вашему бренду обновиться, пройти эволюцию и подчеркнуть актуальность в современном мире.</div>
                </div>
                <div class="services_item_img"><img src="/static/images/service3.png" alt=""></div>
                <div class="services_item_rect"></div>
            </div>
            <div class="btn">
                <a class="btn_all" href="/services" style="margin-top: 40px;">Все услуги</a>
            </div>
            <div class="margin" style="height: 100px;"></div>
        </div>
    </div>
</div>
<div class="cases">
    <div class="container">
        <div class="title">Наши кейсы</div>
        <div class="cases_items">
            <div class="cases_item">
                <div class="cases_item_info">
                    <div class="cases_item_info_left">
                        <div class="cases_item_info_number">01</div>
                    </div>
                    <div class="cases_item_info_right">
                        <div class="cases_item_info_right_title">Бренд женской одежды «Life Style»</div>
                        <div class="cases_item_info_right_desc">Владелица бренда занимается созданием уникальных коллекций одежды, которые часто участвуют в показах внутри страны и на международном уровне. Есть несколько точек по всей стране, где
                            каждый сможет найти для себя подходящий наряд. </div>
                    </div>
                </div>
                <div class="cases_item_img">
                    <div class="cases_item_img_one"><img src="/static/images/case1_1.png" alt=""></div>
                    <div class="cases_item_img_two"><img src="/static/images/case1_2.png" alt=""></div>
                    <div class="cases_item_img_rect"></div>
                </div>
            </div>
            <div class="cases_item">
                <div class="cases_item_info">
                    <div class="cases_item_info_left">
                        <div class="cases_item_info_number">02</div>
                    </div>
                    <div class="cases_item_info_right">
                        <div class="cases_item_info_right_title">Котокафе «Meow»</div>
                        <div class="cases_item_info_right_desc">Владелица бренда занимается созданием уникальных коллекций одежды, которые часто участвуют в показах внутри страны и на международном уровне. Есть несколько точек по всей стране, где
                            каждый сможет найти для себя подходящий наряд. </div>
                    </div>
                </div>
                <div class="cases_item_img">
                    <div class="cases_item_img_one"><img src="/static/images/case2_1.png" alt=""></div>
                    <div class="cases_item_img_two"><img src="/static/images/case2_2.png" alt=""></div>
                    <div class="cases_item_img_rect"></div>
                </div>
            </div>
        </div>
        <div class="btn">
            <a class="btn_all" href="/cases" style="margin-top: 40px;">Все кейсы</a>
        </div>
    </div>
</div>
<div class="form">
    <div class="container">
        <div class="title">Хочешь обсудить проект?</div>
        <div class="form_container">
            <div class="form_left">
                <img class="img" src="/static/images/main2.png" alt="">
            </div>
            <div class="form_right">
                <form action="">
                    <div class="form_right_text">Заполни все поля и жди нашего звонка! Ты сделал правильный выбор!</div>
                    <input type="text" placeholder="Имя">
                    <input type="email" name="" id="" placeholder="Почта">
                    <input type="number" name="" id="" placeholder="Телефон">
                    <div class="btn">
                        <a class="form_right_btn" href="">Отправить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div> 
{% endblock %}