{% extends 'base_admin.html' %}

{% block Body %}
        <div class="title_admin">Список услуг</div>

        <div class="btn">
            <a class="form_right_btn btn_service" href="/admin/service/add">Создать услугу</a>
        </div>

        <div class="services_items">
            {% for service in services %}
                <div class="services_item">
                    <div class="services_item_text">
                        <div class="services_item_text_title">{{ service.name }}</div>
                        <div class="services_item_text_desc">{{ service.description }}</div>
                    </div>
                    <div class="services_item_img"><img src="/static/images/{{ service.image }}" alt=""></div>
                    <div class="services_item_rect"></div>
                    <div class="btns">
                        <div class="btn">
                            <a class="form_right_btn btn_service" href="/admin/service/update/{{ service.id }}">Редактировать</a>
                        </div>
                        <div class="btn">
                            <a class="form_right_btn btn_service" href="/admin/service/delete/{{ service.id }}">Удалить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="margin" style="height: 100px;"></div>
        </div>
        
        <div class="container">
        </div>
{% endblock %}